
body {
  background-color: yellow;
  text-align: center;
}
.notice {
  font-family:'Dosis',sans-serif;
  color: blue;
}
img.main {
  float:center;
  border-radius: 20%
}

}
h1 {
  font-family: 'Dosis', sans-serif;
  margin-top: 10%;
  color :red;

}
}
.this-class {
  margin:0.5px;
  border: 2px solid red;
  padding: 60px;
  background-color: yellow;
}
